.headerContainer {
  width: 100%;
  padding: 1rem 25% 1rem 25%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px 0px, rgb(0 0 0 / 12%) 0px 2px 8px 0px;
}

.brand {
  color: #444444;
  letter-spacing: 1px;
}