.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  height: 5rem;
  font-size: 16px;
  line-height: 22px;
  color: rgb(82, 95, 127);
}

a {
  color: rgb(0, 181, 183);
  text-decoration: none;
}